    //Set Project colors
$WebBackGround: #ecedf500;
$MainColor:#303F9F;
$MainColorLight: #3F51B5;
$MainColorExLight:#536DFE;
$MainColorWhite:#ffffff;
$HoverColor:#ffffff;
$DarkFontColor:#212121;
$WhiteFontColor:#ffffff;
$WhiteShadow:#ffffff;
$DarkShadow:#000000;
$BorderColor:#ffffff;

    
