//Set Project colors
// $MidColor: #1e1f26;
// $Indigo: #283655;
// $BlueBerry:#4d648d;
// $Peri:#d0e1f9;





$DarkFontColor:#000000;
$WhiteFontColor:#ffffff;
$WhiteShadow:#ffffff;
$DarkShadow:#000000;
$BorderColor:#bebebe;


/*  New Color combine */
$MidColor: #101820ff;
$Peri:#ffffffe0;
$BlueBerry:#fee715ff;

