//Set Project colors
$WebBackGround: #f3efca;
$MainColor:#1c2c58;
$HoverColor:#ffffff;
$DarkFontColor:#1c2c58;
$WhiteFontColor:#ffffff;
$WhiteShadow:#ffffff;
$DarkShadow:#000000;
$BorderColor:#f3efca;

    
