#mainFormContent{
    width: 100%;
    height: auto;
    min-height: 800px;
    margin-top: 80px;
    .devNavs{
        width: 100%;
        min-height: 300px;
        height: auto;
        padding-top: 20px;

        .navs{
            width: 100%;
            height: auto;
            min-height: 200px;
            margin-bottom: 20px;
            background-color: rgba(204, 204, 204, 0.699);
            display: flex;
            border-radius: 3px;
            align-items: center;
            justify-content: center;
            ul{
                padding:0;
                margin:0;

                li:not(:last-child){
                    margin-bottom: 25px;

                }
                li{
                    list-style: none;
                    text-align: center;
                    a{
                        text-decoration: none;
                        font-weight: 700;
                        padding: 10px;
                        color: $MainColor;
                        border-radius: 3px;
                        &:hover{
                            color: $WhiteFontColor;
                            background-color: $MainColor;
                        }  
                    }

                    
                }
            }
        }
    }



    .mainForm{
        width: 100%;
        height: auto;
        min-height: 700px;
        padding: 20px;
        .forms{
            min-height: 680px;
            width: 100%;


            .tags-input {
                padding: 0.175rem .75rem;
                height: auto;
                .tag{
                    padding: 0.25em 0.75em; 
                    background-color: $MainColorExLight;
                    color: $WhiteFontColor;
                    margin-right: 4px;
                    transition: all 0.1s ease-in-out;
                    display: inline-block;
                    align-items: center;
                    cursor: pointer;
                    margin-bottom: 3px;
                    &:hover{
                        background-color: #ccc;
                        color: $DarkFontColor;

                        
                    }

                    .close{
                       
                        &::after{
                            content: "×";
                            font-weight: 700;
                            display: inline-block;
                            margin-left: 0.25em;
                            color: white;
                        }
                        &:hover{

                            &::after{
                                color: red;
                            }
                        }
                    }

                    


                    
                }  
                
                .main-input{
                    border: none;
                    outline: none;
                }


            }

            #formOpenBtn{
                background-color: $MainColor;
                border: 1px solid $MainColor;
                outline: none;

                &:hover{
                    background-color: $MainColorWhite;
                    color: $DarkFontColor;
                }
            }
            .modal-footer #sharebtn{
                background-color: $MainColor;
                border: 1px solid $MainColor;
                outline: none;

                &:hover{
                    background-color: $MainColorWhite;
                    color: $DarkFontColor;
                }
            }
        }
    }


    .tagsUsers{
        width: 100%;
        height: auto;
        min-height: 700px;
        padding: 20px;

        .tags{
            width: 100%;
            height: auto;
            min-height: 200px;
            border: 1px solid black;
            margin-bottom: 20px;
        }

        .popularUsers{
            width: 100%;
            height: auto;
            min-height: 200px;
            border: 1px solid black;
        }
    }
}


