#mainSlider{
    width: 100%;
    height:56vh;
    display: flex;
    align-items: center;
    .sliderCont{
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        height: 100%;
        padding-top:20px;
    }
    .sliderBox{
        width: 80%;
        display: inline-block;
        height: 100%;
        border: 1px solid $BorderColor;
        background-color: $WebBackGround;
        overflow: hidden;
        padding: 10px;
        

        .owl-dots span{
            box-shadow: -2px 2px 0 $WhiteShadow;
            background:$BlueBerry;
            transform: translate(0px,0px);

        }
        .owl-dots button.active{
            span{
                transform: translate(-1px,1px);
                box-shadow: -1px 1px 0 $WhiteShadow;
                transition: all 0.2s ease-in-out;
            }
            
        }

        .owl-dots button{
            outline: none;
        }


        .item{
            height: 40vh;
            display: flex;
            justify-content: center;
            align-items: center;
            .sliderContent{
                color: $WhiteFontColor;
                text-align: center;

                h2{
                    font-weight: bold;
                }
            }
        }

    }
    
}


@media only screen and (min-width: 0px) and (max-width: 767px){
    #mainSlider{
        height:66vh;
        padding: 0 10px;
        .sliderBox{
            width: 100%;
            height: 80%;
    
           
    
            .item{
                .sliderContent{
    
                    h2{
                        font-size:1.2em;
                    }
                    p{
                        font-size:0.9em;
                    }
                }
            }
    
        }
        
    }
}
@media only screen and (min-width: 768px) and (max-width: 2560px){
    #mainSlider{
        height:56vh;
        .sliderBox{
            width: 80%;
            height:100%;
        }
        
    }
}