.profileBox{
    width: 100%;
    height: auto;
    min-height: 500px;
    padding: 20px;
    margin-top: 75px;

    .profileInfo{
        .profilePic{
            display:flex;
            justify-content: center;
            overflow: hidden;
            img{
                width: 250px;
                height: 250px;
            }
        }

        .userInfo{
            margin-top: 10px;
            margin-bottom: 10px;
            h4{
                text-align: center;
                font-weight: 700;
                margin-bottom: 5px;
            }
            p{
                text-align: center;
            }
        }

        .userSetting{
            display: flex;
            justify-content: center;

           .settingBtn{
               display: inline-block;
               background-color: $MainColor;
               border-radius: 3px;
               transition: all 0.2s ease-in-out;
               border: 1px solid $MainColor;
                a{
                    display: block;
                    text-decoration: none;
                    color: $WhiteFontColor;
                    padding: 8px 15px;
                    font-weight: 700;

                }

                &:hover{
                    background-color: $MainColorWhite;
                    border: 1px solid $MainColor;
                    a{
                        color: $DarkFontColor;
                    }
                }
            }
           
        }

        .userDetail{
            margin-top: 15px;

            p{
                text-align: center;
                margin-bottom: 3px;
            }

            i{
                color: $MainColor;
            }

            .usersocialLinks{
                text-align: center;
                margin-top: 20px;
                a{
                    text-decoration: none;
                    font-weight: 700;
                    color: $MainColor;
                    padding: 10px;
                    border-radius: 3px;
                    transition: all 0.2s ease-in-out;
                    &:hover{
                        background-color: $MainColor;
                        color: $WhiteFontColor;
                        i{
                            color: $WhiteFontColor;
                        }
                    }
                }
            }
           
        }
    }

    .userActivity{
        
    border-left: 1px solid $MainColor;
    border-right: 1px solid $MainColor;
        .profileActivity{
            padding: 20px 0 0 0;
        }

        .userBio{
            h2{
                text-align: center;
            }

            .bioContent{
                padding: 0px 10px;
                p{
                    text-align: center;
                }
            }
        }


        .userHobbies{
            h2{
                text-align: center;
            }

            .hobbyContent{
                padding: 0 10px;
                    p{
                       text-align: center;
                    }
            }
           
        }



    }

    

}





@media only screen and (min-width: 0px) and (max-width: 767px){
   
    .profileBox{
        padding: 5px;
        margin-top: 110px;
    
        .profileInfo{
            .profilePic{
              
                img{
                    width: 200px;
                    height: 200px;
                }
            }

            .userSetting{
               .settingBtn{
                  
                    a{
                        padding: 5px 12px;
    
                    }
                }
               
            }
    
            .userDetail{
    
    
                .usersocialLinks{
                    text-align: center;
                    margin-top: 20px;
                    
                }
               
            }
        }
        
    
    }  
}


@media only screen and (min-width: 768px) and (max-width: 1024px){
    .profileBox{
        padding: 5px;
        margin-top: 110px;
    
        .profileInfo{
            .profilePic{
              
                img{
                    width: 200px;
                    height: 200px;
                }
            }

            .userSetting{
               .settingBtn{
                  
                    a{
                        padding: 5px 12px;
    
                    }
                }
               
            }
    
        }
        
    
    }    
}
